<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= room.room_name %></title>
    
    
    <script>
      const room_name = "<%= room._id %>"
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/dashboard.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/change"><%= username %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <%- include ('sidenav') %>
      <div class="main">
        <h1>Channel: <%= room.room_name %></h1>
        <%- include ('chat') %>
        
      </div>

      <%- include ('rightsidenav') %>

      
   <!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="channel-form-container">
        <form id="channel-form" method="POST" action="/channel">
        <input
        name = "channel"
        id="channel"
        type="text"
        placeholder="Enter Channelname"
        required
        autocomplete="off"
        />
        <button class="btn" type="submit" value="Send"><i class="fas fa-paper-plane"></i> Submit</button>
        </form>
    </div>
  
  </div>

    <script src ="../public/js/createRoom.js"></script>
    <script src= "/socket.io/socket.io.js"></script>
    
    
    
</body>
</html>